.random-generator {
    display: flex;
}

.random-generator-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.album-display {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}

.album-cover {
    border: var(--border);
    border-radius: var(--border-radius);
    height: var(--album-cover-height);
    width: var(--album-cover-width);
    transition: filter 0.3s ease;
}

.album-cover:hover {
    filter: brightness(0.75);
}

.album-info {
    max-width: var(--album-display-width);
}

.album-title, .album-artist, .album-genres, .album-runtime {
    color: var(--white);
    font-size: var(--font-big);
    margin-top: 0.5em;
    margin-left: 0.5em;
}

a {
    text-decoration: none;
}

.album-artist {
    color: var(--white);
    transition: color 0.2s ease;
}

.album-artist:hover {
    color: var(--gray);
}

.album-title {
    color: var(--spotify-green);
    transition: color 0.2s ease;
}

.album-title:hover {
    color: rgba(30, 215, 95, 0.537);
}

.album-genres, .album-runtime {
    color: var(--gray);
}

.album-title span, .album-artist span, .album-genres span, .album-runtime span {
    color: var(--gray);
    font-size: var(--font-small);
    margin: 0.5em;
}

.generate-album-button {
    margin: 0 1em;
}